* {
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
#arenaCalcWrapper input.form-control {
  background-color: #1d1f29;
}

#arenaCalcWrapper {
  background-color: #2b2d36;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Override bootstrap */

div.alert-danger span {
  color: #842029;
  text-align: center;
}

button.btn-danger {
  color: #1d1f29;
  border: 1px solid #1d1f29;
}

button.btn-danger:hover,
button.btn-danger:focus,
button.btn-danger:active {
  background-color: #1d1f29;
  color: #dc3545;
  border: 1px solid #dc3545;
}

button.btn-warning {
  background-color: #daa520;
  color: #1d1f29;
  border: 1px solid #1d1f29;
}

button.btn-warning:hover,
button.btn-warning:focus,
button.btn-warning:active {
  background-color: #1d1f29;
  color: #daa520;
  border: 1px solid #daa520;
}

button.btn-warning:focus,
button.btn-warning:active {
  box-shadow: 0 0 0 0.25rem rgb(218 165 32 / 50%);
}

/* Flexbox for centering */

h2,
h3,
#disclaimerWarningText,
#dismissDisclaimerWarning,
#resetCol,
#pointsEligibilityWarning,
#dismissDisclaimerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input styling */

#arenaCalcWrapper input.form-control {
  color: white;
}

#arenaCalcWrapper input.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(218 165 32 / 50%);
  border: 1px solid #daa520;
}
